# Daily Log to SQL

This is a file to help clean up data from the daily logs and insert them into the Limblab MySQL database. You will need to know the sesames and either be connected to the VPN or running this remotely on Shrek or Donkey to use this.


## Required Dependencies:

- sqlalchemy
- pymysql
- numpy
- pandas


### Linux specific
You'll need to run <code> sudo apt install libmysqlclient mysql-client-core </code>

### macOS specific
You'll need to run <code> brew install mysql </code>

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
# import getpass

dbName = "staging_db"
userName = "limblab"

# unfortunately getpass doesn't seem to work properly in vscode, and I don't feel like
# playing with the json workspace controls
# sesame = input("enter sesame") # this isn't secure, but it's better than allowing it to go up to git
# sesame = getpass.getpass('mySQL limblab ')
sesame = "mvemjlht123&LL"

### Make sure to update the filename and monkey name below:

Either run for the google sheet **or** the excel version

In [2]:
monkeyName = "Greyson"
ccmID = "18E2"

#### For a Google Sheet

In [23]:
# Using a google sheet
sheetName = "DailyLog"
# file_id is the portion after the "d" in the URL
file_id = "1A_HYPjdmoQZ0c0z1kMbb2b-wGPE6gblyvhei33GWpKI"
gid = "0"
googleURL = f"https://docs.google.com/spreadsheets/d/{file_id}/export?gid={gid}&format=csv&sheet={sheetName}"

print(googleURL)

log = pd.read_csv(googleURL)

https://docs.google.com/spreadsheets/d/1A_HYPjdmoQZ0c0z1kMbb2b-wGPE6gblyvhei33GWpKI/export?gid=0&format=csv&sheet=DailyLog

#### For an excel file

You can use forward slashes even if you're using windows. You will need to either do that or replace all of the backslashes with "\\" since it will see a single "\" as an escape key.

In [22]:
# Using an excel file
sheetName = "DailyLog"
fileName = "C:/Users/17204/Downloads/Rocket.xlsx" 
log = pd.read_excel(fileName,sheet_name=sheetName)

### Let's inspect the logs

Most likely we'll just remove any dates that don't have any useful filled information, though you should double check that nothing weird is going on.

In [24]:
log.info()
log.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0                         999 non-null    object
 1   Date                  999 non-null    object
 2   Weight (kg)           219 non-null    object
 3   Start time            190 non-null    object
 4   End time              147 non-null    object
 5   H2O start (lab)       214 non-null    float64
 6   H2O stop (lab)        187 non-null    float64
 7   H2O (lab)             999 non-null    int64
 8   H20 (bottle)          38 non-null     float64
 9   H2O (total)           999 non-null    int64
 10  Avg H2O intake        1 non-null      object
 11  Supplementary Treats  141 non-null    object
 12  Pulse size            118 non-null    object
 13  Reward                76 non-null     object
 14  Abort                 4 non-null      float64
 15  Fail                  14 non-null     float64
 16  Incompl               0 non-null      float64
 17  Lab no.               167 non-null    object
 18  Time doing task       3 non-null      float64
 19  Task                  174 non-null    object
 20  Experiment            104 non-null    object
 21  Behavioral Notes      135 non-null    object
 22  Health Notes          111 non-null    object
 23  Cleaned               87 non-null     object
 24  Other Notes           35 non-null     object
dtypes: float64(7), int64(2), object(16)
memory usage: 195.2+ KB

,,Date,Weight (kg),Start time,End time,H2O start (lab),H2O stop (lab),H2O (lab),H20 (bottle),H2O (total),...,Fail,Incompl,Lab no.,Time doing task,Task,Experiment,Behavioral Notes,Health Notes,Cleaned,Other Notes
0,Monday,3/5/2018,NaN,NaN,NaN,NaN,NaN,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tuesday,3/6/2018,NaN,NaN,NaN,NaN,NaN,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Wednesday,3/7/2018,NaN,NaN,NaN,NaN,NaN,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Thursday,3/8/2018,NaN,NaN,NaN,NaN,NaN,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Friday,3/9/2018,9.1,10:30:00 AM,11:00:00 AM,800.0,800.0,0,350.0,350,...,NaN,NaN,1,NaN,First time in the chair!,NaN,Was definitely afraid and didn't love the whol...,Fine,NaN,NaN

### Remove unneeded fields

The fields for the daily logs are:

| Field | | Datatype |
| :-: | :-: | :-: |
| **rec_date** | | date |
| **monkey_id** | | varchar(10) |
| **weight** | | int |
| **start_time** | | time |
| **end_time** | | time |
| **h2o_lab** | | int |
| **h2o_home** | | int |
| **treats** | | varchar(40) |
| **lab_num** | | varchar(10) |
| **num_reward** | | int |
| **num_abort** | | int |
| **num_fail** | | int |
| **num_incomplete** | | int |
| **behavior_notes** | | varchar(1000) |
| **behavior_quality** | | enum: 'bad','ok','good' |
| **health_notes** | | varchar(1000) |
| **cleaned** | | bool/tinyint(1) |
| **other_notes** | | varchar(1000) |
| **day_key** | | int |
| **experiment** | | varchar(1000) |
| **experimentor**| | varchar(50) |


drop any fields that don't align with these and then change the names appropriately

In [25]:
# list of columns. You will need to change these to match the current dataframe columns
dropCols = [' ', 'H2O start (lab)', 'H2O stop (lab)', 'H2O (total)', 
    'Avg H2O intake', 'Avg H2O intake', 'Pulse size',
    'Time doing task']

log.drop(columns = dropCols, inplace=True)

# rename remaining columns to match the database names
# should be a dictionary of {old_name:new_name}
renameCols = {'Date':'rec_date',
             'Weight (kg)':'weight',
             'Start time':'start_time',
             'End time':'end_time',
             'H2O (lab)': 'h2o_lab',
             'H20 (bottle)': 'h2o_home',
             'Supplementary Treats':'treats',
             'Lab no.':'lab_num',
             'Reward':'num_reward',
             'Abort':'num_abort',
             'Fail':'num_fail',
             'Incompl':'num_incomplete',
             'Behavioral Notes':'behavior_notes',
             'Health Notes':'health_notes',
             'Cleaned':'cleaned',
             'Other Notes':'other_notes',
             'Experiment':'experiment'}
log.rename(columns = renameCols, inplace=True)

In [26]:
log.drop(columns = 'Task', inplace=True )

In [27]:
log.columns

Index(['rec_date', 'weight', 'start_time', 'end_time', 'h2o_lab', 'h2o_home',
       'treats', 'num_reward', 'num_abort', 'num_fail', 'num_incomplete',
       'lab_num', 'experiment', 'behavior_notes', 'health_notes', 'cleaned',
       'other_notes'],
      dtype='object')

### Remove invalid days

We don't want entries from days where we didn't record. To that end, we will remove anything where we don't have weight, a start time, and h2o in the lab. I mean this in boolean AND sense, meaning if we have any of those three we will keep the row just to be safe.

In [28]:
dropRows = np.where(log[['start_time', 'weight']].isnull().sum(axis=1)>=2)[0]

log.drop(index = dropRows, inplace=True)

log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 221 entries, 4 to 738
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rec_date        221 non-null    object
 1   weight          219 non-null    object
 2   start_time      190 non-null    object
 3   end_time        147 non-null    object
 4   h2o_lab         221 non-null    int64
 5   h2o_home        38 non-null     float64
 6   treats          141 non-null    object
 7   num_reward      73 non-null     object
 8   num_abort       4 non-null      float64
 9   num_fail        14 non-null     float64
 10  num_incomplete  0 non-null      float64
 11  lab_num         161 non-null    object
 12  experiment      100 non-null    object
 13  behavior_notes  130 non-null    object
 14  health_notes    111 non-null    object
 15  cleaned         86 non-null     object
 16  other_notes     33 non-null     object
dtypes: float64(4), int64(1), object(12)
memory usage: 31.1+ KB

### Change datatypes according to what is needed

As per the definitions described above

In [29]:
log['rec_date'] = pd.to_datetime(log['rec_date'])
log['rec_date'] # it's good to do some sanity checking to make sure these worked alright

4     2018-03-09
10    2018-03-15
15    2018-03-20
16    2018-03-21
17    2018-03-22
         ...
673   2020-01-07
679   2020-01-13
680   2020-01-14
690   2020-01-24
738   2020-03-12
Name: rec_date, Length: 221, dtype: datetime64[ns]

In [30]:
# add the monkeyID
log['monkey_id'] = ccmID

In [31]:
log['cleaned'].value_counts()

Yes                          24
Y                            18
no                           16
yes                          14
N                             8
Back                          2
No                            2
na                            1
Back, Head, Flushed ports     1
Name: cleaned, dtype: int64

In [32]:
# cleaning up the 'cleaned' property
YESs = ['Yes','yes','X','x', 'Back, Head, Flushed ports', 'Back']
log['cleaned'] = log['cleaned'].isin(YESs).astype(bool)
log['cleaned'].value_counts(dropna=False)

False    180
True      41
Name: cleaned, dtype: int64

In [33]:
log['h2o_lab'] = log['h2o_lab'].astype(pd.Int64Dtype())
log['h2o_home'] = log['h2o_home'].astype(pd.Int64Dtype())
# log['num_reward'] = log['num_reward'].astype(pd.Int64Dtype())
log['num_abort'] = log['num_abort'].astype(pd.Int64Dtype())
log['num_fail'] = log['num_fail'].astype(pd.Int64Dtype())
log['num_incomplete'] = log['num_incomplete'].astype(pd.Int64Dtype())

In [34]:
# vals_to_replace = {'~230':230, '90+30':120, '~40':40, '~70':70, '~220':220,\
     # '~250':250, '~300':}

vals_to_replace = {'79+87+31':197, '85+35':120, '83+26':109}

log['num_reward'].replace(vals_to_replace, inplace=True)

log['num_reward'] = log['num_reward'].str.replace('~','')

vals = log['num_reward'].value_counts()

In [36]:
# np.where(log['num_reward'].str.isnumeric() == False)

log['num_reward'] = pd.to_numeric(log['num_reward'])
log['num_reward'] = log['num_reward'].astype(pd.Int64Dtype())

ValueError: Unable to parse string "90+30" at position 141

In [13]:
log['health_notes'].value_counts()

Good.                                                                                                         4
Looks good                                                                                                    4
Same as before. Neck line slightly open. Applied TAB to area                                                  3
Head has a little goop again. Will clean again                                                                2
Head had a little goop, cleaned with betadine                                                                 2
Looking good                                                                                                  2
Sedated for sensory mapping. Seems like he’s been trying to pick at his back again. Put jacket on tighter     1
All looks good, he may be scratching at the other side of his head for some reason                            1
Back looks pretty good                                                                                        1
Shoulder seems to be improving. Removed Jacket and cut nails                                                  1
Shoulder seems to be improving                                                                                1
Good. Abrasion on shoulder looks dry and clean                                                                1
healthy and bright                                                                                            1
Back looks better. Very little pus seen, flushed and cleaned, reapplied new dacron.                           1
Head and neck seem good. Margin looks amazing. Cleaned hear and crust a little                                1
6                                                                                                             1
Head and neck look good. Back has some scratch marks on it under jacker                                       1
Same as before. Neck line slightly open. Applied chlorhexidine ring                                           1
Mild inflammation on neck incision line. Area around pedestal looks a bit inflamed, but nothing concerning    1
Neck line looks ok. Flushed and applied TAB. Around pedestal looks good.                                      1
Back opening at neck has pus around edges. Cleaned with betadine and flushed                                  1
bex checking pedestals ane ear wound, now clean 3x per week                                                   1
Name: health_notes, dtype: int64

In [20]:
# changing the times to datetimes
# log['start_time'] = log['start_time'].astype(np.datetime64).dt.time
# log['end_time'] = pd.to_datetime(log['end_time'])
log['end_time'].astype(np.datetime64)
# log['end_time'] = log['end_time'].dt.time

ParserError: Unknown string format: 13:30 pm

### Export to MySQL database

you will need to create an ssh tunnel using 

<code>ssh -N -L 3306:localhost:3306 {Username}@{hostname}</code>

In [51]:
# this is set up using an SSH tunnel
# engine = create_engine(f"mysql+pymysql://{userName}:{sesame}@127.0.0.1:3306/{dbName}")


log.to_sql('days', engine, index=False, if_exists="append")

OperationalError: (pymysql.err.OperationalError) (1292, "Incorrect time value: '10:30:00 AM' for column 'start_time' at row 1")
[SQL: INSERT INTO days (rec_date, weight, start_time, end_time, h2o_lab, h2o_home, treats, num_reward, num_abort, num_fail, num_incomplete, lab_num, experiment, behavior_notes, health_notes, cleaned, other_notes, monkey_id) VALUES (%(rec_date)s, %(weight)s, %(start_time)s, %(end_time)s, %(h2o_lab)s, %(h2o_home)s, %(treats)s, %(num_reward)s, %(num_abort)s, %(num_fail)s, %(num_incomplete)s, %(lab_num)s, %(experiment)s, %(behavior_notes)s, %(health_notes)s, %(cleaned)s, %(other_notes)s, %(monkey_id)s)]
[parameters: ({'rec_date': datetime.datetime(2018, 3, 9, 0, 0), 'weight': '9.1', 'start_time': '10:30:00 AM', 'end_time': '11:00:00 AM', 'h2o_lab': 0, 'h2o_home': 350, 'treats': 'apples and blueberries', 'num_reward': None, 'num_abort': None, 'num_fail': None, 'num_incomplete': None, 'lab_num': '1', 'experiment': None, 'behavior_notes': "Was definitely afraid and didn't love the whole thing, but generally behaved well enough. Refused to take and treats or drink any water", 'health_notes': 'Fine', 'cleaned': 0, 'other_notes': None, 'monkey_id': '18E2'}, {'rec_date': datetime.datetime(2018, 3, 15, 0, 0), 'weight': '8.8', 'start_time': '10:30:00 AM', 'end_time': '11:15:00 AM', 'h2o_lab': 100, 'h2o_home': None, 'treats': 'apples and red peppers', 'num_reward': None, 'num_abort': None, 'num_fail': None, 'num_incomplete': None, 'lab_num': '1', 'experiment': 'General training', 'behavior_notes': 'Seemed a little bored, but much less afraid than previously. On his way!', 'health_notes': 'Fine', 'cleaned': 0, 'other_notes': None, 'monkey_id': '18E2'}, {'rec_date': datetime.datetime(2018, 3, 20, 0, 0), 'weight': '8.7', 'start_time': '11:00:00 AM', 'end_time': '11:30:00 AM', 'h2o_lab': 25, 'h2o_home': 300, 'treats': 'red peppers and carrots', 'num_reward': None, 'num_abort': None, 'num_fail': None, 'num_incomplete': None, 'lab_num': '1', 'experiment': 'gen training', 'behavior_notes': 'Still fought a bunch when we were trying to get the lap plate attached to him, though a little better than the last time. Took treats from me, though it took him a bit to eat them. He seemed only semi interested in water.', 'health_notes': 'Fine', 'cleaned': 0, 'other_notes': None, 'monkey_id': '18E2'}, {'rec_date': datetime.datetime(2018, 3, 21, 0, 0), 'weight': '8.78', 'start_time': '10:50:00 AM', 'end_time': '11:50:00 AM', 'h2o_lab': 0, 'h2o_home': 200, 'treats': 'red peppers', 'num_reward': None, 'num_abort': None, 'num_fail': None, 'num_incomplete': None, 'lab_num': '1', 'experiment': 'gen training', 'behavior_notes': 'Not smooth when we were trying to get the lap plate attached. Touched the device panel and drink juice for about 10 times', 'health_notes': 'Fine', 'cleaned': 0, 'other_notes': None, 'monkey_id': '18E2'}, {'rec_date': datetime.datetime(2018, 3, 22, 0, 0), 'weight': '8.8', 'start_time': '3:00:00 PM', 'end_time': '1:45:00 PM', 'h2o_lab': 50, 'h2o_home': 150, 'treats': 'craisins', 'num_reward': None, 'num_abort': None, 'num_fail': None, 'num_incomplete': None, 'lab_num': '1', 'experiment': 'gen training', 'behavior_notes': "Fought the lap plate, though not terribly hard, and still doesn't love having us around him. It's gonna be a bit of work", 'health_notes': 'Fine', 'cleaned': 0, 'other_notes': None, 'monkey_id': '18E2'}, {'rec_date': datetime.datetime(2018, 3, 23, 0, 0), 'weight': '8.8', 'start_time': '10:30:00 AM', 'end_time': '11:15:00 AM', 'h2o_lab': 50, 'h2o_home': 250, 'treats': 'craisins, small potato', 'num_reward': None, 'num_abort': None, 'num_fail': None, 'num_incomplete': None, 'lab_num': '1', 'experiment': 'gen training', 'behavior_notes': "He picked some craisins from the experimenter's hand and ate. He also picked potato chips and licked but finally gave up. Seems he prefers to craisins.", 'health_notes': 'Fine', 'cleaned': 0, 'other_notes': None, 'monkey_id': '18E2'}, {'rec_date': datetime.datetime(2018, 3, 24, 0, 0), 'weight': '8.74', 'start_time': '11:00:00 AM', 'end_time': '12:00:00 PM', 'h2o_lab': 100, 'h2o_home': None, 'treats': 'craisins', 'num_reward': None, 'num_abort': None, 'num_fail': None, 'num_incomplete': None, 'lab_num': '1', 'experiment': 'gen training', 'behavior_notes': 'Mostly just training him to sit next to the experimenter and take treats. It went well for approx the first 15 minutes, but after that he started getting a little more aggressive.', 'health_notes': 'Fine', 'cleaned': 0, 'other_notes': None, 'monkey_id': '18E2'}, {'rec_date': datetime.datetime(2018, 3, 26, 0, 0), 'weight': '8.68', 'start_time': '10:30:00 AM', 'end_time': '11:30:00 AM', 'h2o_lab': 150, 'h2o_home': 150, 'treats': 'craisins', 'num_reward': None, 'num_abort': None, 'num_fail': None, 'num_incomplete': None, 'lab_num': '1', 'experiment': 'gen training', 'behavior_notes': 'More friendly to experimenter compared to last week. Touched the ball task for many times, and sometimes played with the red LED.', 'health_notes': 'Fine', 'cleaned': 0, 'other_notes': None, 'monkey_id': '18E2'}  ... displaying 10 of 221 total bound parameter sets ...  {'rec_date': datetime.datetime(2020, 1, 24, 0, 0), 'weight': '8.8', 'start_time': None, 'end_time': None, 'h2o_lab': 775, 'h2o_home': None, 'treats': None, 'num_reward': None, 'num_abort': None, 'num_fail': None, 'num_incomplete': None, 'lab_num': None, 'experiment': None, 'behavior_notes': None, 'health_notes': None, 'cleaned': 0, 'other_notes': None, 'monkey_id': '18E2'}, {'rec_date': datetime.datetime(2020, 3, 12, 0, 0), 'weight': '9', 'start_time': None, 'end_time': None, 'h2o_lab': 75, 'h2o_home': 175, 'treats': None, 'num_reward': None, 'num_abort': None, 'num_fail': None, 'num_incomplete': None, 'lab_num': None, 'experiment': None, 'behavior_notes': None, 'health_notes': None, 'cleaned': 0, 'other_notes': None, 'monkey_id': '18E2'})]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [47]:
sesame = 'mvemjlht123&LL'