# Daily Log to SQL

This is a file to help clean up data from the daily logs and insert them into the Limblab MySQL database. You will need to know the passwords and either be connected to the VPN or running this remotely on Shrek or Donkey to use this.

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

dbName = "staging_db"
userName = "limblab"
password = input("enter password") # this isn't secure, but it's better than allowing it to go up to git

enter password

### Make sure to update the filename and monkey name below:

Either run for the google sheet **or** the excel version

In [2]:
monkeyName = "Rocket"
ccmID = "19L1"

#### For a Google Sheet

In [15]:
# Using a google sheet
sheetName = "DailyLog"
# file_id is the portion after the "d" in the URL
file_id = "1ICGCMKkMShzQpq1FKOBGjxaMFoDY9_mtydJxAm6Bv3U"
googleURL = f"https://docs.google.com/spreadsheets/d/{file_id}/export?gid=0&format=csv&sheet={sheetName}"

print(googleURL)

log = pd.read_csv(googleURL)

https://docs.google.com/spreadsheets/d/1ICGCMKkMShzQpq1FKOBGjxaMFoDY9_mtydJxAm6Bv3U/export?gid=0&format=csv&sheet=DailyLog

#### For an excel file

You can use forward slashes even if you're using windows. You will need to either do that or replace all of the backslashes with "\\" since it will see a single "\" as an escape key.

In [66]:
# Using an excel file
sheetName = "DailyLog"
fileName = "C:/Users/17204/Downloads/Rocket.xlsx" 
log = pd.read_excel(fileName,sheet_name=sheetName)

### Let's inspect the logs

Most likely we'll just remove any dates that don't have any useful filled information, though you should double check that nothing weird is going on.

In [16]:
log.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 683 entries, 0 to 682
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Day                   683 non-null    object
 1   Date                  683 non-null    object
 2   Weight                103 non-null    float64
 3   Start time            98 non-null     object
 4   End time              83 non-null     object
 5   H2O (lab)             164 non-null    float64
 6   H20 (bottle)          54 non-null     float64
 7   H2O (total)           683 non-null    int64
 8   Required Daily        676 non-null    float64
 9   Avg H2O intake        676 non-null    float64
 10  Required average H2)  676 non-null    float64
 11  Supplementary Treats  66 non-null     object
 12  Pulse size            41 non-null     object
 13  Reward                37 non-null     object
 14  Abort                 20 non-null     float64
 15  Fail                  20 non-null     float64
 16  Incompl               20 non-null     float64
 17  Lab no.               38 non-null     object
 18  Person Working        67 non-null     object
 19  Time doing task       108 non-null    object
 20  Behavioral Notes      32 non-null     object
 21  Health Notes          21 non-null     object
 22  Cleaned               11 non-null     object
 23  Other Notes           3 non-null      object
dtypes: float64(9), int64(1), object(14)
memory usage: 128.2+ KB

### Remove unneeded fields

The fields for the daily logs are:

| Field | | Datatype |
| :-: | :-: | :-: |
| **rec_date** | | date |
| **monkey_id** | | varchar(10) |
| **weight** | | int |
| **start_time** | | time |
| **end_time** | | time |
| **h2o_lab** | | int |
| **h2o_home** | | int |
| **treats** | | varchar(40) |
| **lab_num** | | varchar(10) |
| **num_reward** | | int |
| **num_abort** | | int |
| **num_fail** | | int |
| **num_incomplete** | | int |
| **behavior_notes** | | varchar(1000) |
| **behavior_quality** | | enum: 'bad','ok','good' |
| **health_notes** | | varchar(1000) |
| **cleaned** | | bool/tinyint(1) |
| **other_notes** | | varchar(1000) |
| **day_key** | | int |
| **experiment** | | varchar(1000) |
| **experimentor**| | varchar(50) |


drop any fields that don't align with these and then change the names appropriately

In [17]:
# list of columns. You will need to change these to match the current dataframe columns
dropCols = ['Day', 'H2O (total)', 'Required Daily', 'Avg H2O intake', 'Required average H2)', 
              'Pulse size', 'Pulse size', 'Time doing task']

log.drop(columns = dropCols, inplace=True)

# rename remaining columns to match the database names
# should be a dictionary of {old_name:new_name}
renameCols = {'Date':'rec_date',
             'Weight':'weight',
             'Start time':'start_time',
             'End time':'end_time',
             'H2O (lab)': 'h2o_lab',
             'H20 (bottle)': 'h2o_home',
             'Supplementary Treats':'treats',
             'Lab no.':'lab_num',
             'Reward':'num_reward',
             'Abort':'num_abort',
             'Fail':'num_fail',
             'Incompl':'num_incomplete',
             'Behavioral Notes':'behavior_notes',
             'Health Notes':'health_notes',
             'Cleaned':'cleaned',
             'Other Notes':'other_notes',
             'Person Working':'experimentor'}
log.rename(columns = renameCols, inplace=True)

### Remove invalid days

We don't want entries from days where we didn't record. To that end, we will remove anything where we don't have weight, a start time, and h2o in the lab. I mean this in boolean AND sense, meaning if we have any of those three we will keep the row just to be safe.

In [18]:
dropRows = np.where(log[['weight', 'start_time', 'h2o_lab']].isnull().sum(axis=1)>=3)[0]

log.drop(index = dropRows, inplace=True)

log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169 entries, 7 to 618
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rec_date        169 non-null    object
 1   weight          103 non-null    float64
 2   start_time      98 non-null     object
 3   end_time        83 non-null     object
 4   h2o_lab         164 non-null    float64
 5   h2o_home        16 non-null     float64
 6   treats          66 non-null     object
 7   num_reward      36 non-null     object
 8   num_abort       20 non-null     float64
 9   num_fail        20 non-null     float64
 10  num_incomplete  20 non-null     float64
 11  lab_num         38 non-null     object
 12  experimentor    67 non-null     object
 13  behavior_notes  32 non-null     object
 14  health_notes    21 non-null     object
 15  cleaned         11 non-null     object
 16  other_notes     3 non-null      object
dtypes: float64(6), object(11)
memory usage: 23.8+ KB

### Change datatypes according to what is needed

As per the definitions described above

In [19]:
log['rec_date'] = pd.to_datetime(log['rec_date'])
log['rec_date'] # it's good to do some sanity checking to make sure these worked alright

7     2020-02-11
8     2020-02-12
9     2020-02-13
10    2020-02-14
11    2020-02-15
         ...
610   2021-10-05
611   2021-10-06
613   2021-10-08
617   2021-10-12
618   2021-10-13
Name: rec_date, Length: 169, dtype: datetime64[ns]

In [20]:
# add the monkeyID
log['monkey_id'] = ccmID

In [21]:
# cleaning up the 'cleaned' property
YESs = ['Yes','Y']
log['cleaned'] = log['cleaned'].isin(YESs).astype(bool)
log['cleaned'].value_counts(dropna=False)

False    166
True       3
Name: cleaned, dtype: int64

In [22]:
log['h2o_lab'] = log['h2o_lab'].astype(pd.Int64Dtype())
log['h2o_home'] = log['h2o_home'].astype(pd.Int64Dtype())
# log['num_reward'] = log['num_reward'].astype(pd.Int64Dtype())
log['num_abort'] = log['num_abort'].astype(pd.Int64Dtype())
log['num_fail'] = log['num_fail'].astype(pd.Int64Dtype())
log['num_incomplete'] = log['num_incomplete'].astype(pd.Int64Dtype())

In [23]:
log['num_reward'].replace(to_replace = '~75', value = '75', inplace=True)
log['num_reward'].value_counts()
log['num_reward'] = pd.to_numeric(log['num_reward']).astype(pd.Int64Dtype())

In [24]:
log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 169 entries, 7 to 618
Data columns (total 18 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rec_date        169 non-null    datetime64[ns]
 1   weight          103 non-null    float64
 2   start_time      98 non-null     object
 3   end_time        83 non-null     object
 4   h2o_lab         164 non-null    Int64
 5   h2o_home        16 non-null     Int64
 6   treats          66 non-null     object
 7   num_reward      36 non-null     Int64
 8   num_abort       20 non-null     Int64
 9   num_fail        20 non-null     Int64
 10  num_incomplete  20 non-null     Int64
 11  lab_num         38 non-null     object
 12  experimentor    67 non-null     object
 13  behavior_notes  32 non-null     object
 14  health_notes    21 non-null     object
 15  cleaned         169 non-null    bool
 16  other_notes     3 non-null      object
 17  monkey_id       169 non-null    object
dtypes: Int64(6), bool(1), datetime64[ns](1), float64(1), object(9)
memory usage: 24.9+ KB

In [13]:
log['health_notes'].value_counts()

Cleaned head                                                                     4
did not take out of cage                                                         4
Good                                                                             2
Head looks dry and clean. Vasectomy site has no puss.                            2
Healthy                                                                          1
Array has few units than usual. Segregated to medial rostral region of array.    1
Good. No concerns                                                                1
Looks good                                                                       1
cleaned head                                                                     1
did not record today; just weighted and gave water in cage                       1
head looks dry and clean                                                         1
placed betadine soaked gauze on his vasectomy site                               1
head looks dry and clean. vasectomy site has no puss                             1
Name: health_notes, dtype: int64

### Export to MySQL database

you will need to create an ssh tunnel using 

<code>ssh -N -L 3306:localhost:3306 {Username}@{hostname}</code>

In [25]:
# this is set up using an SSH tunnel
engine = create_engine(f"mysql+pymysql://{userName}:{password}@127.0.0.1:3306/{dbName}")

log.to_sql('days', engine, index=False, if_exists="append")