# Daily Log to SQL

This is a file to help clean up data from the daily logs and insert them into the Limblab MySQL database. You will need to know the sesames and either be connected to the VPN or running this remotely on Shrek or Donkey to use this.


## Required Dependencies:

- sqlalchemy
- pymysql
- numpy
- pandas


### Linux specific
You'll need to run <code> sudo apt install libmysqlclient mysql-client-core </code>

### macOS specific
You'll need to run <code> brew install mysql </code>

In [1]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
# import getpass

dbName = "staging_db"
userName = "limblab"

# unfortunately getpass doesn't seem to work properly in vscode, and I don't feel like
# playing with the json workspace controls
# sesame = input("enter sesame") # this isn't secure, but it's better than allowing it to go up to git
# sesame = getpass.getpass('mySQL limblab ')
sesame = "mvemjlht123&LL"

### Make sure to update the filename and monkey name below:

Either run for the google sheet **or** the excel version

In [2]:
monkeyName = "Greyson"
ccmID = "18E2"

#### For a Google Sheet

In [3]:
# Using a google sheet
sheetName = "DailyLog"
# file_id is the portion after the "d" in the URL
file_id = "1A_HYPjdmoQZ0c0z1kMbb2b-wGPE6gblyvhei33GWpKI"
gid = "0"
googleURL = f"https://docs.google.com/spreadsheets/d/{file_id}/export?gid={gid}&format=csv&sheet={sheetName}"

print(googleURL)

log = pd.read_csv(googleURL)

https://docs.google.com/spreadsheets/d/1A_HYPjdmoQZ0c0z1kMbb2b-wGPE6gblyvhei33GWpKI/export?gid=0&format=csv&sheet=DailyLog

#### For an excel file

You can use forward slashes even if you're using windows. You will need to either do that or replace all of the backslashes with "\\" since it will see a single "\" as an escape key.

In [22]:
# Using an excel file
sheetName = "DailyLog"
fileName = "C:/Users/17204/Downloads/Rocket.xlsx" 
log = pd.read_excel(fileName,sheet_name=sheetName)

### Let's inspect the logs

Most likely we'll just remove any dates that don't have any useful filled information, though you should double check that nothing weird is going on.

In [4]:
log.info()
log.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0                         999 non-null    object
 1   Date                  999 non-null    object
 2   Weight (kg)           218 non-null    float64
 3   Start time            190 non-null    object
 4   End time              147 non-null    object
 5   H2O start (lab)       214 non-null    float64
 6   H2O stop (lab)        187 non-null    float64
 7   H2O (lab)             999 non-null    int64
 8   H20 (bottle)          38 non-null     float64
 9   H2O (total)           999 non-null    int64
 10  Avg H2O intake        0 non-null      float64
 11  Supplementary Treats  141 non-null    object
 12  Pulse size            118 non-null    object
 13  Reward                76 non-null     object
 14  Abort                 4 non-null      float64
 15  Fail                  14 non-null     float64
 16  Incompl               0 non-null      float64
 17  Lab no.               167 non-null    object
 18  Time doing task       3 non-null      float64
 19  Task                  174 non-null    object
 20  Experiment            104 non-null    object
 21  Behavioral Notes      135 non-null    object
 22  Health Notes          112 non-null    object
 23  Cleaned               87 non-null     object
 24  Other Notes           36 non-null     object
dtypes: float64(9), int64(2), object(14)
memory usage: 195.2+ KB

,,Date,Weight (kg),Start time,End time,H2O start (lab),H2O stop (lab),H2O (lab),H20 (bottle),H2O (total),...,Fail,Incompl,Lab no.,Time doing task,Task,Experiment,Behavioral Notes,Health Notes,Cleaned,Other Notes
0,Monday,3/5/2018,NaN,NaN,NaN,NaN,NaN,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Tuesday,3/6/2018,NaN,NaN,NaN,NaN,NaN,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Wednesday,3/7/2018,NaN,NaN,NaN,NaN,NaN,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Thursday,3/8/2018,NaN,NaN,NaN,NaN,NaN,0,NaN,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Friday,3/9/2018,9.1,10:30:00 AM,11:00:00 AM,800.0,800.0,0,350.0,350,...,NaN,NaN,1,NaN,First time in the chair!,NaN,Was definitely afraid and didn't love the whol...,Fine,NaN,NaN

### Remove unneeded fields

The fields for the daily logs are:

| Field | | Datatype |
| :-: | :-: | :-: |
| **rec_date** | | date |
| **monkey_id** | | varchar(10) |
| **weight** | | int |
| **start_time** | | time |
| **end_time** | | time |
| **h2o_lab** | | int |
| **h2o_home** | | int |
| **treats** | | varchar(40) |
| **lab_num** | | varchar(10) |
| **num_reward** | | int |
| **num_abort** | | int |
| **num_fail** | | int |
| **num_incomplete** | | int |
| **behavior_notes** | | varchar(1000) |
| **behavior_quality** | | enum: 'bad','ok','good' |
| **health_notes** | | varchar(1000) |
| **cleaned** | | bool/tinyint(1) |
| **other_notes** | | varchar(1000) |
| **day_key** | | int |
| **experiment** | | varchar(1000) |
| **experimentor**| | varchar(50) |


drop any fields that don't align with these and then change the names appropriately

In [5]:
# list of columns. You will need to change these to match the current dataframe columns
dropCols = [' ', 'H2O start (lab)', 'H2O stop (lab)', 'H2O (total)', 
    'Avg H2O intake', 'Avg H2O intake', 'Pulse size',
    'Time doing task']

log.drop(columns = dropCols, inplace=True)

# rename remaining columns to match the database names
# should be a dictionary of {old_name:new_name}
renameCols = {'Date':'rec_date',
             'Weight (kg)':'weight',
             'Start time':'start_time',
             'End time':'end_time',
             'H2O (lab)': 'h2o_lab',
             'H20 (bottle)': 'h2o_home',
             'Supplementary Treats':'treats',
             'Lab no.':'lab_num',
             'Reward':'num_reward',
             'Abort':'num_abort',
             'Fail':'num_fail',
             'Incompl':'num_incomplete',
             'Behavioral Notes':'behavior_notes',
             'Health Notes':'health_notes',
             'Cleaned':'cleaned',
             'Other Notes':'other_notes',
             'Experiment':'experiment'}
log.rename(columns = renameCols, inplace=True)

In [6]:
log.drop(columns = 'Task', inplace=True )

In [7]:
log.columns

Index(['rec_date', 'weight', 'start_time', 'end_time', 'h2o_lab', 'h2o_home',
       'treats', 'num_reward', 'num_abort', 'num_fail', 'num_incomplete',
       'lab_num', 'experiment', 'behavior_notes', 'health_notes', 'cleaned',
       'other_notes'],
      dtype='object')

### Remove invalid days

We don't want entries from days where we didn't record. To that end, we will remove anything where we don't have weight, a start time, and h2o in the lab. I mean this in boolean AND sense, meaning if we have any of those three we will keep the row just to be safe.

In [8]:
dropRows = np.where(log[['start_time', 'weight']].isnull().sum(axis=1)>=2)[0]

log.drop(index = dropRows, inplace=True)

log.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 220 entries, 4 to 738
Data columns (total 17 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   rec_date        220 non-null    object
 1   weight          218 non-null    float64
 2   start_time      190 non-null    object
 3   end_time        147 non-null    object
 4   h2o_lab         220 non-null    int64
 5   h2o_home        38 non-null     float64
 6   treats          141 non-null    object
 7   num_reward      73 non-null     object
 8   num_abort       4 non-null      float64
 9   num_fail        14 non-null     float64
 10  num_incomplete  0 non-null      float64
 11  lab_num         161 non-null    object
 12  experiment      100 non-null    object
 13  behavior_notes  129 non-null    object
 14  health_notes    111 non-null    object
 15  cleaned         86 non-null     object
 16  other_notes     33 non-null     object
dtypes: float64(5), int64(1), object(11)
memory usage: 30.9+ KB

### Change datatypes according to what is needed

As per the definitions described above

In [9]:
log['rec_date'] = pd.to_datetime(log['rec_date'])
log['rec_date'] # it's good to do some sanity checking to make sure these worked alright

4     2018-03-09
10    2018-03-15
15    2018-03-20
16    2018-03-21
17    2018-03-22
         ...
673   2020-01-07
679   2020-01-13
680   2020-01-14
690   2020-01-24
738   2020-03-12
Name: rec_date, Length: 220, dtype: datetime64[ns]

In [10]:
# add the monkeyID
log['monkey_id'] = ccmID

In [13]:
log['cleaned'].value_counts()

False    179
True      41
Name: cleaned, dtype: int64

In [12]:
# cleaning up the 'cleaned' property
YESs = ['Yes','yes','X','x', 'Back, Head, Flushed ports', 'Back']
log['cleaned'] = log['cleaned'].isin(YESs).astype(bool)
log['cleaned'].value_counts(dropna=False)

False    179
True      41
Name: cleaned, dtype: int64

In [14]:
log['h2o_lab'] = log['h2o_lab'].astype(pd.Int64Dtype())
log['h2o_home'] = log['h2o_home'].astype(pd.Int64Dtype())
# log['num_reward'] = log['num_reward'].astype(pd.Int64Dtype())
log['num_abort'] = log['num_abort'].astype(pd.Int64Dtype())
log['num_fail'] = log['num_fail'].astype(pd.Int64Dtype())
log['num_incomplete'] = log['num_incomplete'].astype(pd.Int64Dtype())

In [15]:
vals_to_replace = {'~230':230, '90+30':120, '~40':40, '~70':70, '~220':220,\
     '~250':250, '~300':300, '79+87+31':197, '85+35':120, '83+26':109}

# vals_to_replace = {'79+87+31':197, '85+35':120, '83+26':109}

log['num_reward'].replace(vals_to_replace, inplace=True)

log['num_reward'] = log['num_reward'].str.replace('~','')
# log['num_reward'] = log['num_reward'].replace({'90+30':120})

log['num_reward'].value_counts()

80     3
20     2
250    2
100    2
300    2
150    2
75     2
450    2
189    1
359    1
244    1
220    1
242    1
224    1
127    1
176    1
160    1
120    1
139    1
99     1
226    1
323    1
223    1
187    1
397    1
603    1
588    1
454    1
40     1
45     1
21     1
148    1
30     1
258    1
393    1
380    1
25     1
240    1
400    1
117    1
307    1
318    1
33     1
290    1
339    1
171    1
133    1
158    1
77     1
48     1
10     1
60     1
270    1
Name: num_reward, dtype: int64

In [16]:
# np.where(log['num_reward'].str.isnumeric() == False)

log['num_reward'] = pd.to_numeric(log['num_reward'])
log['num_reward'] = log['num_reward'].astype(pd.Int64Dtype())

In [17]:
log['health_notes'].value_counts()

Fine                                                                                                                                                                                                                                                 27
good                                                                                                                                                                                                                                                 27
fine                                                                                                                                                                                                                                                 22
Healthy                                                                                                                                                                                                                                               6
Blocked MU at 4:05 pm                                                                                                                                                                                                                                 1
had some crust on his back                                                                                                                                                                                                                            1
Healthy with head. Two small wound appeared on his back, above the bundle exit                                                                                                                                                                        1
Healthy with head. Still irratation at the exit port on his back                                                                                                                                                                                      1
Healthy with head. Generally dry around the back wound                                                                                                                                                                                                1
Blocked MU at 10:45 AM                                                                                                                                                                                                                                1
Blocked MU at 11:00 AM                                                                                                                                                                                                                                1
Back looks good, head has some crust on it                                                                                                                                                                                                            1
Blocked MU at 11:20 AM                                                                                                                                                                                                                                1
Inject .8 mL lidocaine MU at 10:55 am                                                                                                                                                                                                                 1
injected .8 mL lidocain median at 11:15 AM                                                                                                                                                                                                            1
Head: dry and clean. Back: dry and clean. Forearm: two spots like being scratching by him, also flushing with betadine                                                                                                                                1
Head: dry and clean. Back: removed scab, some redness near the bundle exit                                                                                                                                                                            1
Back and head seem find                                                                                                                                                                                                                               1
Seems generally pretty good - back is looking great, the head is good but not great                                                                                                                                                                   1
Back looks good, head looks fine                                                                                                                                                                                                                      1
had a small sore on the left side lip (his left side)                                                                                                                                                                                                 1
Dr Cain checked on neck, said it was what she expected. Everything else is looking fairly good.                                                                                                                                                       1
neck does not look good, the back looks alright. Clean both and remove sutures                                                                                                                                                                        1
Moving his right hand a little more freely than yesterday                                                                                                                                                                                             1
back spot under wire bundle looks better; unsure whether the neck's getting better or not                                                                                                                                                             1
Everything's looking good                                                                                                                                                                                                                             1
Incision seems mostly healed, swelling in the muscle to the lateral left side of scalp has reduced. Removed Sutures, looks fine                                                                                                                       1
Red spot seems to be better than yesterday                                                                                                                                                                                                            1
Same as day before.                                                                                                                                                                                                                                   1
Another red spot, though better than the day before. Cleaned with betadine                                                                                                                                                                            1
Slight red spot where the cover is touching. Changed the cover. Still has some swelling in the area of the disected muscle lateral to the pedestal. Slight shaking, though Dr Cain says it's general trembling so nothing serioius to worry about     1
fine                                                                                                                                                                                                                                                  1
Generally good with head. Some issues with the wound on his back                                                                                                                                                                                      1
Name: health_notes, dtype: int64

In [37]:
# changing the times to datetimes
log['start_time'] = log['start_time'].astype(np.datetime64).dt.time
# log['end_time'] = pd.to_datetime(log['end_time'])
# log['end_time'].astype(np.datetime64)
log['end_time'] = log['end_time'].astype(np.datetime64).dt.time

### Export to MySQL database

you will need to create an ssh tunnel using 

<code>ssh -N -L 3306:localhost:3306 {Username}@{hostname}</code>

In [38]:
# this is set up using an SSH tunnel
engine = create_engine(f"mysql+pymysql://{userName}:{sesame}@127.0.0.1:3306/{dbName}")


log.to_sql('days', engine, index=False, if_exists="append")